    body{
        background-image: url(./pexels-eberhard-grossgasteiger-2310713.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    ul,ol,label{
        color: rgb(0, 0, 0);
    }
    img{
        padding-left:13.5cm;
        width: 9cm;
        height: 8cm;
    }
     h1{
        animation: zoom-in 2s ease-in-out infinite;
    }
    @keyframes zoom-in{
        0% {
            transform:scale(.90);
        }
        50% {
            transform:scale(1);
        }
        100% {
            transform:scale(.90);
        }
    }
    table,th{
        margin-left: 5cm;
        border-radius:2cm;
        border-style:solid;
        border-spacing: 2cm;
        border-color:rgb(0, 0, 0)
    }
    button{
        margin-top: 1cm;
        margin-left:16cm;
        padding:0.5cm;
        border-color:rgb(0, 0, 0);
        border-bottom-color: rgb(0, 0, 0);
        border-right-color: rgb(0, 0, 0);
        border-radius: 1cm;
        border-width:.3cm;
        border-right-style:hidden;
        border-left-style:hidden;

    }
    button:hover{
        padding-left:.5cm;
        padding-right:.5cm;
        border-radius:.3cm;

        background-color:rgb(0, 255, 213);
        }
    a{
        color: rgb(0, 0, 0);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: .5cm;
    } 
    #con{
        margin-left: 1cm;
        margin-top: .5cm; 
        }
    #con:hover{
        padding-left:.5cm;
        padding-right:.5cm;
        border-radius:.3cm;

        background-color:rgb(0, 217, 255);
        }